body {
    background-color: #1d3557;
    width:70%;
    margin: auto;
    color: white;
}

main > img {
    width: 100%;
}

main {
    width: 100%;
    text-align: center;
}

main > section {
    border-radius: 20px;
    border: 3px solid brown;
    overflow: hidden;
    background-color: #f0efeb;
    margin-bottom: 50px;
}

p {
    background-color: burlywood;
}

main > section > section:nth-child(odd) {
    background-color: #d6e2e9;
}

main > section > section:nth-child(even) {
    background-color: #fff1e6;
}

main > section > section > div{
    width: 100px;
    height: 100px;
    text-align: center;
    color:white;
    background-color: #99c1de;
    border: 5px solid #229894;
    border-radius: 5px;
}

main > section:first-child > section:nth-of-type(1) > div {
    margin: 20px;
}

main > section:first-child > section:nth-of-type(2) > div {
    margin-top: 40px;
}

main > section:first-child > section:nth-of-type(3) > div {
    margin-left: auto;
}

main > section:first-child > section:nth-of-type(4) > div {
    margin-left: auto;
    margin-right: auto;
}

main > section:first-child > section:nth-of-type(5) > div {
    margin: auto;
}

main > section > section:nth-of-type(5) {
    height: 200px;
}

h2 {
    color: #1d3557;
    text-align: center;
}

main > section:nth-child(2) > section:nth-of-type(1) > div:first-child {
    padding: 50px;
    text-align: left;
}

main > section:nth-child(2) > section:nth-of-type(2) > div {
    padding-top: 40px;
}

main > section:nth-child(2) > section:nth-of-type(3) > div {
    padding-left: 100px;
}

main > section:nth-child(2) > section:nth-of-type(4) > div {
    padding-left: 100px;
    padding-right: 30px;
}

main > section:nth-child(2) > section:nth-of-type(5) > div {
    padding: 100px;
}

.btn {
    margin-bottom: 50px;
    color:#1d3557;
    border-radius: 5px;
    display: inline-block;
    background-color: #99c1de;
    padding: 10px;
}

.btn:hover {
    background-color: #b0c9dc;
    cursor: pointer;
}